// $background-color:      #181d20;
$background-color:      #1d2326;
$code-background-color: #2d353b;

$code-font-family: "JetBrains Mono", monospace;
$base-font-family: "Fira Sans", sans-serif;

$text-color: #D3C6AA;
$heading-color: #D3C6AA;
$brand-color-dimmed: #8a816f;
$brand-color-light: #e3d5b7;

$site-title-color: $brand-color-light;

$border-color-01: #38424a;
$border-color-02: #38424a;
$border-color-03: #38424a;

$link-base-color: #7FBBB3;
$link-visited-color: #47857d;
$link-hover-color: $text-color;

// $content-width: 1000px;